
<h1> {{#if loggedIn}}
    <p> {{username}}'s Home Page</p>
    {{else}}
       <p>Home Page</p>
    {{/if}} </h1>
{{#each blogs}}
<div class="card">
  <div class="card-header">
    <h3>{{title}}</h3><p class="font-italic">Presented to you by {{User.username}}</p>
    <p>{{createdAt}}</p>
  </div>
    <p>{{body}}</p>
    <p>{{Comment.commentBody}}</p>
    <div class="form-floating">
  <textarea class="form-control floatingTextarea" placeholder="Leave a comment here" id="newComment"></textarea>
  <button type="button" class="btn btn-dark" >Comment</button>
</div>
</div>
    
    <hr>
{{/each}}